 @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;500;700&family=Outfit:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
    background-color: whitesmoke ;
    
}
header{
    height:350px ;
    width: auto;
    background-image: url( "../resources/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    
    

}
header ul #logo{
 float: left;
 padding-top: 38px;
 position: relative;
 padding-left: 10%;
 color: white;
 

}
header ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

}
header li a{
    display: block;
    padding: 25px; 
    float: right;
    text-decoration: none;
    color: white;
    
}

header ul .h-t{
    font-weight: 300;
    font-size: small;
    top: 20px;
    position: relative;  
    padding-right: 10%; 
    letter-spacing: -1px;
   
}
.btn-z{
    display: flex;
}
.btn-a {
    min-width: 200px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    margin-right: 250px;
    top: -8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 30px;
    border: 2px solid hsl(176, 72%, 28%);
    background-color: hsl(176, 72%, 28%);
  }
  .btn-a:hover {
    background: #fff;
    color: hsl(176, 72%, 28%);
  }
  .toggle-btn{
    position: absolute;
    top: 1.5rem;
    right: .08rem;
    margin-right: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  .toggle-btn .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
   
.box-a{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: -50px;
    width:700px;
    height: 300px;
    background-color: white;
    margin-left: 23%;
    position: relative;
    border: 5px solid transparent;
    border-radius: 15px;

}
.logo-master{
    top: -30px;
    position: inherit;
}
.small-t{
     font-size: 14px;
    color:  hsl(0, 0%, 48%);
    top: -10px;
    position: inherit;
}
.btn-b{
    min-width: 150px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 25px;  
}
.book-mark{
    top: -10px;
    left: 0;
    position: relative;
    margin-right: -30px;
}
.m-btn {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: absolute;

    
    
  }
  
  .m-btn.selected {
    background-color: hsl(176, 72%, 28%);
    color: #fff;
  }
  
  .n-btn{
    position: absolute;
    left: 55px; }
  
  .modal-a{
    display: none;
    flex-direction: column;
   margin-left: 300px;
   margin-top: 170px;
   border: 1px solid transparent;
   border-radius: 15px;
    position: relative;
    padding: 25px 25px;
    max-height:1000px ;
    max-width: 700px;
  }
  .modal-a .close-m1{
    margin-left: 98%;
  }
 
   
  .back-h{
    margin-bottom: 10px;
  }
  .small-h{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color:hsl(0, 0%, 48%) ;
  }
  .t-a-1 {
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;
    

  }
  .t-a-1.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-2.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-3.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-4.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  
  .small-i{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;   
  }
  .small-iz{
    color: black;
  }
  .small-ia{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
    
   
  }
  .t-a-2{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-j{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
  }
  .small-jz{
    color: black;
  }
  .small-ja{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;

  }
  .t-a-3{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-k{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
  }
  .small-ka{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
  }
  .small-kk{
    color: black;
    font-weight: bold;
  }
  .t-a-4{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    opacity: 0.3;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-l{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
   
  }
  .small-lz{
    color: black;
  }
  .small-la{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
  }
.fig{
    padding-left: 160px;
}
.fig-a{
  padding-left: 130px;
}
.fig-b{
  padding-left: 80px;
}
.fig-1{
  font-weight: bold;
}
.fig-2{
  color:hsl(0, 0%, 48%) ;
}
.f-aa{
    display: none;
   position: relative;
   padding-top: 50px;
   padding-right: 30px; 
   
}
.f-aB{
  display: none;
  position: relative;
  padding-top: 50px;
  padding-right: 30px; 
}
.f-aC{
  display: none;
  position: relative;
  padding-top: 50px;
  padding-right: 30px; 
}
.f-aD{
  display: none;
  position: relative;
  padding-top: 50px;
  padding-right: 30px; 
}

.f-hr{
  width: 100%;
  margin-top: 20px;
  
}
#f-a{
 width: 60%;
 padding: 25px 5px;
 box-sizing: border-box;
 border-top: none;
 border-bottom: none;
 border-left-width: 0;
 border-right-width: 0;

}
#f-a:focus{
  outline: none;
  border-color: initial;
  box-shadow: none;
}
.f-a-z{
  padding-left:130px ;
}

  .f-a-btn {
    min-width: 100px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid hsl(176, 72%, 28%);
    background: hsl(176, 72%, 28%);
  }
  
.f-a-sp{
  min-width:70px;
  height: 35px;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  left: 65%;
  display:inline-block;
  outline: bone;
  border-radius: 17px ;
  border: 2px solid   hsl(176, 59%, 63%);


}
.ch{
  color: hsl(0, 0%, 48%);
  
}
.thr{
  width: 30%;
  height: 40% ;
  text-align: center;
  border-radius:15px ;
  margin-top: 20%;
  margin-left: 35%;
  border: 1px solid ;
  overflow-x: hidden;
}
.thr-img{
  /* margin-left: 35%; */
  margin-top: 7%;
  margin-bottom: 5%;
}
.thr-tx1{
  font-weight: bold;
  /* padding-left: 18%; */
  /* padding-top: 10%; */
}
.thr-tx2{
  font-size: 10px;
  color: hsl(0, 0%, 48%) ;
  
}
.thr-btn{
  min-width: 100px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 25px;
  border: 2px solid hsl(176, 72%, 28%);
  background: hsl(176, 72%, 28%);
}
.box-b{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  top: -35px;
  width:700px;
  height: 170px;
  background-color: white;
  position: relative;
  margin-left: 23%;
  border: 5px solid transparent;
  border-radius: 15px;
}
.box-bAi{
  font-size: 27px;
margin-top: 20px;

}
.box-bAii{
  font-size: 27px;
margin-top: 20px;
margin-left: 12%;

}
.box-bAiii {
  font-size: 27px;
margin-top: 20px;

}

.box-bB{
  font-size: 12px;
  font-weight: 500;
  color:hsl(0, 0%, 48%) ;
  margin-top: 60px;
  position: absolute;
 left: 38px;
}
.box-bc{
  font-size: 12px;
  font-weight: 500;
  color:hsl(0, 0%, 48%) ;
  margin-top: 60px;
  position: inherit;
  right: 120px;
}
.box-bd{
  font-size: 12px;
  font-weight: 500;
  color:hsl(0, 0%, 48%) ;
  margin-top: 60px;
  position: inherit;
  right: 80px;
  
}
.v-hr{
  height: 40%;
  margin-top: 4%;
}
 .p-bar{
  margin-top: 18%;
  position: absolute;
  width: 80%;
  height: 1em;
  background-color:lightgray ;
  border-radius: 1.5em;
  color:transparent ;
 }
 .p-bar::before{
  content: attr(data-label);
  display: flex;
  align-items: center;
  height: 1em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: hsl(176, 72%, 28%);
  border-radius: 1em;
 }
 .abt-m{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  top: -5px;
  width:700px;
  height: 65em;
  background-color: white;
  position: relative;
  margin-left: 23%;
  border: 5px solid transparent;
  border-radius: 15px;
 }
 .abt-h{
  margin-top: 40px;
 }
 .abt-s{
  position: absolute;
  top: 8%;
  color: hsl(0, 0%, 48%);
 }
 .abt-sA{
  top: 150%;
  position: absolute;
 }
.reward-1{
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 35px;
  height: 14em;
  position: relative;
  margin-top: -400px;
  
}
.te{
  white-space: pre;
  tab-size: 8;
}
.reward-hA{
  font-weight: bold;
  font-size: large;
}
.reward-hB{
  position: absolute;
  right: 10%;
  color:hsl(176, 72%, 28%) ;
  font-weight: bold;
}
.reward-hC{
  position: absolute;
  top: 35%;
  color: hsl(0, 0%, 48%);
  font-size: 15px;
}
  
.r-d{
  position: absolute;
  top: 75%;
}
.reward-hD{
  font-weight: bold;
  font-size: larger;
}
.reward-hDd{
  color:hsl(0, 0%, 48%) ;
  font-size: small;
}
.reward-btn{
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 65%;
  left: 75%;
  display: inline-block;
  outline: none;
  border-radius: 25px;
  border: 2px solid  hsl(176, 72%, 28%);
  background: hsl(176, 72%, 28%);
  
}
.reward-2{
  border: 2px solid lightgray;
  border-radius: 15px;
  padding: 35px;
  height: 14em;
  position: relative;
  margin-top: -280px;
}
.reward-3{
  border: 2px solid lightgray;
  border-radius: 15px;
  opacity: 0.3;
  padding: 35px;
  height: 14em;
  position: relative;
  margin-top: -280px;
}

@media (max-width: 414px) {
   header{
    
    width: 100%;
    background-size: 414px;
    background-repeat: no-repeat;
   }
   .toggle-btn{
    display: flex;
   }
   header ul .h-t {
    position: absolute;
    display: none;
}
header ul #logo{
  padding-left: 5%;
}
.box-a{
  top: -240px;
  margin-left:5%;
  width: 370px;
}
.btn-a{
  min-width: 230px;
  margin-right: 10px;
}
.btn-b{
  display: none;
}
.mo-t{
  margin-left: 35px;
}
.modal-a{
  margin-left: 0px;
  margin-top: 100px;
  max-height: 500rem;
}
.t-a-1{
  height: 13rem;
  width: 17em;
}
.small-ia{
  width: 14rem;
}
.t-a-2{
  height: 16rem;
  width: 17em;
}
.small-ja{
  width: 14rem;
  padding-top: 0px;
}
.small-jz{
  padding-right:30% ;
}
.fig{
  position: relative;
}
.fig-a{
  position: relative;
}
.fig-b{
  position: relative;
}
#fig-1a{
  position: relative;
  top: 80%;
  right: 80%;
}
#fig-2a{
  position: relative;
  top: 70%;
  right: -17%;
}

.t-a-3{
  height: 17rem;
  width: 17em;
}
.t-a-4{
  height: 16rem;
  width: 17em;
}
#fig-1b{
  position: relative;
  top: 80%;
  right: 60%;
}
#fig-2b{
  position: relative;
top: 80%;
  right: 59%;
}
.small-ka{
  position: relative;
  padding-top: 0px;
}
.small-la{
  position: relative;
  padding-top: 0px;
}
#fig-1c{
  position: relative;
  top: 80%;
  right: 40%;
}
#fig-2c{
  position: relative;
top: 80%;
  right: 39%;
}
.f-aa{
  padding-top: 50%;
  padding-right: 30px;
}
#f-a{
  width: 100%;
}
.f-a-btn{
  min-width: 90px;
  margin-top: -25%;
}
.f-aB{
  padding-top: 50%;
  padding-right: 30px;
}
#f-a{
  width: 100%;
}
.f-a-btn{
  min-width: 90px;
  margin-top: -25%;
}
.f-hr {
  width: 230px;
  margin-top: 30px;
}
.thr{
  width: 55%;
    height: 35%;
    margin-left: 25%;

}
.thr-btn{
  margin-top: 15%;
}
.thr-tx2 {
  position: relative;
  top: 3%;
}
.box-b{
  flex-direction: column;
  padding-left: 30px;
  top: -210px;
  width: 370px;
  height: 400px;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
}
.box-bAi{
  position: relative;
  /* left: 35px; */
  margin-top: 170px;
}
.box-bAii{
  position: relative;
  left: -17px;
  top:-18%;
  
}

.box-bB{
  position: relative;
  left: -5px;
  top: -17%;
}
    .p-bar{
      margin-top: 88%;
    }
    .v-hr{
      height: 0%;
      width: 25%;
      position: relative;
      /* left: 25%; */
      top: -16%;
    }
    .box-bc{
      top: -37%;
      left:1% ;
    }
    #bxx{
      position: relative;
      /* left: 63px; */
      top:-37%;
    }
    .box-bd{
      left: 1%;
      top: -57%;
    }
    #vv{
      top: -35%;
    }

    .abt-m{
      width: 400px;
      margin-left: 3%;
      height: 98em;
      top: -165px;
    }
    .abt-sA{
      top:130%;
    }
    .reward-1{
      height: 20em;
    }
    .reward-2{
      height: 20em;
      margin-top: -350px
    }
    .reward-3{
      height: 20em;
      margin-top: -350px;
    }
    
    .te{
      position: relative;
    }
    
    .r-d{
      top: 67%;
    }
    .reward-hd{
      font-weight: bolder;
    }
    .reward-btn{
      top: 75%;
      left: 5%;
    }
    #idan-1{
      right: -5%;
      top: 130%;
    }
    #idan-2{
      right: 16%;
      top: 130%;
    }
    #idan-3{
      right: 29%;
      top: 130%;
    }
}