 @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;500;700&family=Outfit:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
    background-color: whitesmoke ;
    
}
header{
    height:350px ;
    width: auto;
    background-image: url( "../resources/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    
    background-size: cover;
    
    

}
header ul #logo{
 float: left;
 padding-top: 38px;
 position: relative;
 padding-left: 10%;
 color: white;
 

}
header ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

}
header li a{
    display: block;
    padding: 25px; 
    float: right;
    text-decoration: none;
    color: white;
    
}

header ul .h-t{
    font-weight: 300;
    font-size: small;
    top: 20px;
    position: relative;  
    padding-right: 10%; 
    letter-spacing: -1px;
   
}
.btn-z{
    display: flex;
}
.btn-a {
    min-width: 200px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    margin-right: 250px;
    top: -8px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 30px;
    border: 2px solid hsl(176, 72%, 28%);
    background-color: hsl(176, 72%, 28%);
  }
  .btn-a:hover {
    background: #fff;
    color: hsl(176, 72%, 28%);
  }
   
.box-a{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: -50px;
    width:700px;
    height: 300px;
    background-color: white;
    margin-left: 23%;
    position: relative;
    border: 5px solid transparent;
    border-radius: 15px;

}
.logo-master{
    top: -30px;
    position: inherit;
}
.small-t{
     font-size: 14px;
    color:  hsl(0, 0%, 48%);
    top: -10px;
    position: inherit;
}
.btn-b{
    min-width: 150px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 25px;  
}
.book-mark{
    top: -10px;
    left: 0;
    position: relative;
    margin-right: -30px;
}
.m-btn {
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    position: absolute;

    
    
  }
  
  .m-btn.selected {
    background-color: hsl(176, 72%, 28%);
    color: #fff;
  }
  
  .n-btn{
    position: absolute;
    left: 55px; }
  
  .modal-a{
    display: none;
    flex-direction: column;
   margin-left: 300px;
   margin-top: 170px;
   border: 1px solid transparent;
   border-radius: 15px;
    position: relative;
    padding: 25px 25px;
    max-height:1000px ;
    max-width: 700px;
  }
  .modal-a .close-m1{
    margin-left: 98%;
  }
 
   
  .back-h{
    margin-bottom: 10px;
  }
  .small-h{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    color:hsl(0, 0%, 48%) ;
  }
  .t-a-1 {
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;

  }
  .t-a-1.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-2.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-3.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  .t-a-4.active{
    border-color:  hsla(176, 72%, 28%, 0.938);
  }
  
  .small-i{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
    
    
  }
  .small-ia{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
    
   
  }
  .t-a-2{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-j{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
  }
  .small-ja{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;

  }
  .t-a-3{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-k{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
  }
  .small-ka{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
  }
  .small-kk{
    color: black;
    font-weight: bold;
  }
  .t-a-4{
    border: 2px solid lightgray;
    border-radius: 15px;
    padding: 25px 25px;
    opacity: 0.3;
    margin: 20px;
    padding: 35px;
    height: 130px;
  }
  .small-l{
    color: hsl(176, 72%, 28%) ;
    font-weight: bold;
   
  }
  .small-la{
    font-size: 14px;
    padding-right: 10px;
    color: hsl(0, 0%, 48%);
    position: absolute;
    padding-top: 17px;
  }
.fig{
    padding-left: 160px;
}
.fig-a{
  padding-left: 130px;
}
.fig-b{
  padding-left: 80px;
}
.fig-1{
  font-weight: bold;
}
.fig-2{
  color:hsl(0, 0%, 48%) ;
}