 @import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;500;700&family=Outfit:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Commissioner', sans-serif;
    background-color: whitesmoke ;
    
}
header{
    height:350px ;
    width: auto;
    background-image: url( "../resources/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    /* position: relative; */
    background-size: cover;
    /* display: flex;
    justify-content: flex-end; */
    

}
header ul #logo{
 float: left;
 padding-top: 38px;
 position: relative;
 padding-left: 10%;
 color: white;
 

}
header ul{
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;

}
header li a{
    display: block;
    padding: 25px; 
    float: right;
    text-decoration: none;
    color: white;
    
}

header ul .h-t{
    font-weight: 300;
    font-size: small;
    top: 20px;
    position: relative;  
    padding-right: 10%; 
    letter-spacing: -1px;
   
}
.btn-a {
    min-width: 200px;
    height: 50px;
    color: #fff;
    padding: 5px 10px;
    margin-right: 250px;
    top: -25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 30px;
    border: 2px solid #57cc99;
    background: #57cc99;
  }
  .btn-a:hover {
    background: #fff;
    color: #57cc99
  }
   
.box-a{
    display: flex;
    flex-direction: column;
    align-items: center; 
    /* padding: 40px; */
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    top: -50px;
    width:700px;
    height: 300px;
    background-color: white;
    margin-left: 23%;
    position: relative;
    border: 5px solid transparent;
    border-radius: 15px;

}
.logo-master{
    /* margin-bottom: ; */
    top: -30px;
    position: inherit;
}
.small-t{
     font-size: 14px;
    color:  hsl(0, 0%, 48%);
    top: -10px;
    position: inherit;
}
.btn-b{
    /* height: ; */
    /* padding: 5px 10px */
   
    min-width: 150px;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 25px;
    
}
.book-mark{
    top: -10px;
    left: 0;
    position: relative;
    margin-right: 95px;
}

